<!DOCTYPE html>
<html>
  <head>
    <title>Flask Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1200px;
      }
	  .error {
		  color: red;
	  }
    </style>
  </head>
  <body>
    <div class="col-sm-8">
      <h1>Calculator with Flask</h1>
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="operation" class="form-control" id="url-box" placeholder="Type +,-,/,*" style="max-width: 300px;" autofocus required>
          <input type="text" name="num1" class="form-control" placeholder="Enter a valid number" style="max-width: 300px;" autofocus required>
          <input type="text" name="num2" class="form-control" placeholder="Enter a valid number" style="max-width: 300px;" autofocus required>
        </div>
        <button type="submit" class="btn btn-default">Evaluate!</button>
      </form>
      <br>
      {% for error in errors %}
        <h4 class="error">{{ error }}</h4>
      {% endfor %}
    </div>
    <div class="col-sm-8">
      {% if results %}
	  <h2>Results</h2>
	  <br>
	  <div id="results">
          <table class="table table-striped" style="max-width: 300px;">
            <thead>
              <tr>
                <th>Num1</th>
                <th>Operator</th>
				<th>Num2</th>
				<th></th>
				<th>Answer</th>
              </tr>
            </thead>
            {% for result in results%}
              <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
                <td>{{ result[2] }}</td>
                <td>=</td>
                <td>{{ result[3] }}</td>
              </tr>
            {% endfor %}
          </table>
	  </div>
	  {% endif %}
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>